
# Lisp build (and dependency) files
/data/units/units.db
/bin/
/megastrike
/build_data
*.abcl
*.fasl
*.dx32fsl
*.dx64fsl
*.lx32fsl
*.lx64fsl
*.x86f
*.exe
*.dll
*.so

# Editor files
.*.sw[a-z]
.*~
.*#
.#*
\#*
*~
/.idea

# Qlot files
/.qlot/
/.bundle-libs/

# Mac files
/.DS_Store
/src/.DS_Store
