name: build-windows-release
on:
  push:
    branches:
      - 'main'
      - 'master'
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Install msys2
        uses: msys2/setup-msys2@v2
        with:
          path-type: minimal
          msystem: MINGW64
          release: true
          update: true
          install: 'git base-devel unzip mingw-w64-x86_64-gcc mingw-w64-x86_64-gtk4 mingw-w64-x86_64-roswell'
      - name: Windows specific settings
        shell: pwsh
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
          # make sure MSYSCON is set so roswell doesn't try to install msys
          echo "MSYSCON=defterm" | Out-File -FilePath $env:GITHUB_ENV -Append
          # roswell installs to windows profile dir, so add to PATH using
          # pwsh $HOME also
          echo "$HOME/.roswell/bin" | Out-File -FilePath $env:GITHUB_PATH -Append
          # not sure what makes roswell install things here
          echo "$HOME/.roswell/lisp/quicklisp/bin" | Out-File -FilePath $env:GITHUB_PATH -Append
          echo home = $HOME
          echo userprofile = $USERPROFILE
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Install Ultralisp
        shell: pwsh
        run: |
          ros -e "(ql-dist:install-dist \"http://dist.ultralisp.org/\" :prompt nil)"
      - name: Update all dists
        shell: pwsh
        run: |
          ros -e "(ql:update-all-dists :prompt nil)"
      - name: Install Dependencies
        shell: pwsh
        run: |
          ros run -e "(ql:quickload :megastrike)"
      - name: Build Binary
        shell: pwsh
        run: |
          ros run -e "(asdf:make :megastrike)"
      - name: Archive binary
        uses: actions/upload-artifact@v3
        with:
          name: megastrike
          path: ./
